<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:sws="http://www.springframework.org/schema/web-services" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
							http://www.springframework.org/schema/web-services
							http://www.springframework.org/schema/web-services/web-services-2.0.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context-3.0.xsd
							http://www.springframework.org/schema/tx 
							http://www.springframework.org/schema/tx/spring-tx.xsd">


	<context:component-scan base-package="com.blog.samples" />
	<sws:annotation-driven />

	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="myDataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.blog.samples.webservices.Account</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">com.blog.samples.services.dialect.SQLiteDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
			</props>
		</property>
	</bean>

	<!-- Our test service bean -->
	<bean id="AccountDetailsService" class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition" lazy-init="true">
		<property name="schemaCollection">
			<bean class="org.springframework.xml.xsd.commons.CommonsXsdSchemaCollection">
				<property name="inline" value="true" />
				<property name="xsds">
					<list>
						<value>classpath:schemas/AccountDetailsServiceOperations.xsd</value>
					</list>
				</property>
			</bean>
		</property>
		<property name="portTypeName" value="AccountDetailsService" />
		<property name="serviceName" value="AccountDetailsServices" />
		<property name="locationUri" value="/endpoints" />
	</bean>

	<bean id="db" class="org.springframework.web.context.support.ServletContextResource">
		<constructor-arg ref="servletContext" />
		<constructor-arg value="/WEB-INF/mydb.db" />
	</bean>

	<bean id="myDataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
		<property name="driverClass" value="org.sqlite.JDBC" />
		<property name="jdbcUrl" value="#{'jdbc:sqlite:' + db.file.absolutePath}" />
	</bean>

	<tx:annotation-driven />

	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>